:root {
    --pr-color : #FFFFFF;
}

*{
    user-select: none;
}

/* Navbar Style */
.navbar {
    z-index: 3;
}

/* Navbar color */

.nav-color {
    background-color: #F9D53F;
    transition: all ease-in-out 0.3s;
}

.bg-transparent {
    transition: all ease-in 0.3s;
}

*{
    z-index: 2;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E9E9E9;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
    font-weight: 700;
}

.button-secondary {
    width: 133px;
    height: 40px;
    background-color: #000000;
    color: var(--pr-color);
    border: none;
    font-size: 17px;
    font-weight: 700;
}

.button-secondary a {
    color: #FFFFFF;
    text-decoration: none;
}

.button-primary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 17px;
    font-weight: 400;
}

.button-primary a {
    color: #000000;
    text-decoration: none;
}

/* Navbar Hover */

.button-secondary:hover {
    background-color: darkgrey;
    transition: all .3s ease-in-out;
}

.button-secondary a:hover {
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}

.button-primary a:hover {
    color: darkgrey;
}



/* Hero Section */

#hero {
    background: linear-gradient(160deg, #F9D53F, #FFF8DA);
    height: 100vh;
    width: 100%;
}

.img-hero {
    height: 90%;
    z-index: 1;
}

.hero-tagline h1 {
    color: #000000;
    font-weight: 700;
    font-size: 64px;
    line-height: 121%;
}

.hero-tagline p {
    font-size: 20px;
    color: #000000;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
}

.button-lg-primary {
    width: 237px;
    height: 70px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 25px;
    font-weight: 700;
}

.button-lg-primary a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Search Section */

#search {
    background-image: url(../Assets/img/Search\ BG.png);
    height: 100vh;
    background-repeat: no repeat;
    background-size: cover;
}

#search h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

#search p {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
}

.input-cari {
    height: 88px;
}

.input-cari:focus {
    border: none;
}

.input-cari .button-secondary {
    width: 200px;
    height: 88px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 0 0 0 10px;
}

.input-cari .button-primary {
    height: 88px;
    background-color: #F9D53F;
    color: #000000;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0 10px 10px 0px;
}

.input-cari .form-control {
    height: 88px !important;
}


.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0%;
}

.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    border-radius: 0 9px 0 9;
}

.nav-tabs .nav-link {
    color: #000000;
    border: none;
}

/* Section Best Seller */

.card {
    height: 470px;
    border: none;
}

.card-body h4 {
    color: #000000;
    font-weight: 500px;
    font-size: 24px;
    line-height: 0.8rem;
    padding-top: 5%;
}

.card-body p {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.card:hover {
    background-color: #F9D53F;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out .2s;
}

/* Card Rekomendasi

.button-find {
    width: 180px;
    height: 63px;
    background-color: #F9D53F;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

#rekomendasi h2 {
    font-size: 32px;
    font-weight: 500;
}

.card-fitur h5 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600px;
}

.card-fitur span {
    color: #FFFFFF;
    font-size: 16px;
}

.card-fitur button {
    background-color: #F9D53F;
    color: #000000;
    border: none;
    width: 150px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
}

.card-fitur .overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all ease-in-out .3s;
}

.card-fitur .overlay:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.button-arrow-left {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #F9D53F;
    padding: 0;
}

.button-arrow-right {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #F9D53F;
    padding: 0;
}
*/

/* Contact Section */

#contact {
    background-image: url(../Assets/img/BG-Question.png);
    margin-top: 158px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
}

#contact .overlay {
    background: rgba(0, 0, 0, 0.5);
}

#contact .container {
    padding: 148px 0 148px 0;
}

#contact h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 441px;
}

#contact h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 19px 0 14px 0;
}

#contact p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.kontak a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 18px;
    width: 197px;
    display: inline-block
}

.linkrumah {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.card-contact {
    width: 100%;
    height: 445px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 52px 48px;
}

.card-contact h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #25DD07;
    text-align: center;
    margin-bottom: 21px;
}

.form-control {
    background: #C4C4C4;
    height: 75px !important;
    border-radius: 0;
}

.form-floating label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #717171;
}

.button-contact {
    width: 100%;
    height: 75px;
    background: #25DD07;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

#playstore {
    background-image: url(../Assets/img/Edinal\ Design\ Playstore.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    width: 100%;
    height: 270px;
    background: #000000;
}

.copyright {
    bottom: 1%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
}

footer a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

/* Layanan Section */

#layanan {
    padding: 100px 0;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    color: #000000;
}

.sub-title {
    font-size: 18px;
    color: #000000;
}

.card-layanan {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 50px;
    transition: all .3 ease-in;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.3);
}

.circle-icon img {
    width: 65px;
    height: auto;
}

.card-layanan h3 {
    color: #000000;
    font-size: 24px;
}

.card-layanan p {
    color: #000000;
    font-size: 16px;
}

/* Hover */

.card-layanan:hover {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #F9D53F;
    padding: 50px;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.3);
}

.circle-icon img:hover {
    width: 65px;
    height: auto;
}

.card-layanan h3:hover {
    color: #000000;
    font-size: 24px;
}

.card-layanan p:hover {
    color: #000000;
    font-size: 16px;
}

/* Hero About Section */
#hero-about {
    background-image: url(../Assets/img/Hero-About.png);
    height: 100vh;
    background-repeat: no repeat;
    background-size: cover;
}

.hero-about-tagline h2 {
    font-weight: 500;
    font-size: 96px;
    line-height: 144px;
    color: #000000;
}

.hero-about-tagline p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

/* The Mission Section */

#misi {
    padding: 100px 0;
}

.misi h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #000000;
}

/* TEAM Section */

.tim {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #000000;
}

/* About Card */

#about-card {
    padding: 100px 0;
}

.circle-foto img {
    width: 115px;
    padding-top: 55px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.card-about {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 50px;
    transition: all .3 ease-in;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.3);
}

.circle-foto img {
    width: 120px;
    padding-top: 45px;
}

.card-about h4 {
    padding-top: 55px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #000000;
}
.card-about p {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

/* Carousel Section */

#carouselExampleControls {
    margin-top: 10px;

}
.carousel-control-prev {
    z-index: 3;
}

.carousel-control-next {
    z-index: 3;
}

.carousel-indicators {
    z-index: 3;
}

.btn-produk {
    background-color: #F9D53F;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.btn-produk a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.btn-produk a:hover {
    color: #FFFFFF;
}